/* ImageComponent.css */
.image-container {
    display: inline-block;
    position: relative;
  }
  
  .image {
    transition: 0.3s;
    width: 300px; /* Adjust the width and height as needed */
    height: 200px;
  }
  
  .image:hover {
    filter: grayscale(0%); /* Removes the grayscale filter on hover */
    cursor: pointer;
  }